<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>This is a django refresh</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<div>
		<h1><a href="/">Tessie refresh django stuff </a></h1>
	</div>
	<div>
		<p>Published date: Wednesday 6:00</p>
		<h1><a href="/">Post 1</a></h1>
		<p>Heroku is also free for small applications that don't have too many visitors, but it's a bit more tricky to get deployed.

		We will be following this tutorial: https://devcenter.heroku.com/articles/getting-started-with-django, but we pasted it here so it's easier for you.</p>

	</div>
	
</body>
</html>